@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: Open Sans;
    margin: 0;
    text-align: justify;
}

.menu {
    background-color: #f6fde8;
    display: flex;
    justify-content: center;
}

.articulo {
    background-color: white;
    width: 70%;
    font-size: 1.3vw;
    padding: 40px 25px;
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    .articulo {
        font-size: 1.7vw;
    }      
    .pie-pagina{
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 600px) {
    .articulo {
        font-size: 2.4vw; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    /* Ajusta el relleno para pantallas pequeñas */
    } 
    .pie-pagina{
        font-size: 2.4vw;
    }
}
